.u-push-right {
  margin-right: 1rem;
}

.u-pos-rel {
  position: relative;
}

.u-align-center {
  text-align: center;
}

.u-display-flex {
  display: flex;
}

.u-display-block {
  display: block;
}

.u-flex-end {
  justify-content: flex-end;
}

.u-space-between {
  justify-content: space-between;
}

.u-align-items {
  align-items: center;
}

.u-flex-wrap {
  flex-wrap: wrap;
}

.u-push-ends {
  margin: 3rem 0;
}

.u-push-ends--until-medium {
  margin: 6rem 0;
  @include media-query($medium-up) {
    margin: 0;
  }
}


.u-flush {
  margin: 0;
}


.u-float-right {
  float: right;
}

.u-center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.u-center-bottom {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.u-center-vertically--large {
  top: 60%;
}


.u-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.u-is-active {
  font-weight: 700;
  display: block;
  // border-bottom: 3px solid $color-primary;
  font-size: 1.5rem;
}

.u-image-fit {
  max-width: 80%;
  @include media-query($medium-up) {
    max-width: 100%;
  }
}

.u-soft {
  padding: 10px;
}

.u-soft-ends--large {
  padding: 8rem 0;
}

.u-no-top-padding {
  padding-top: 0;
}

.u-caps {
  text-transform: uppercase;
}

.u-push-bottom {
  margin-bottom: 2rem;
}

.u-push-bottom--small {
  margin-bottom: 1rem;
}

.u-push-bottom--med {
  margin-bottom: 3rem;
}

.u-push-bottom--large {
  margin-bottom: 4rem;
  @include media-query($medium-up) {
    margin-bottom: 8rem;
  }
}

.u-push-top {
  margin-top: 2rem;
}

.u-push-top--small {
  margin-top: 1rem;
}

.u-push-top--med {
  margin-top: 3rem;
}

.u-push-top--large {
  margin-top: 8rem;
}

.u-push-top--xlarge {
  margin-top: 2rem;
  @include media-query($medium-up) {
    margin-top: 15rem;
  }
}

.u-push-top--until-medium {
  margin-top: 6rem;
  @include media-query($medium-up) {
    margin-top: 0;
  }
}

.u-grid-rev-order--until-med {
  display: flex;
  flex-direction: column-reverse;
  @include media-query($medium-up) {
    display: block;
  }
}




